<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">Even<span>talk.</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="/aboutPage" class="nav-link">About</a></li>
					<li class="nav-item active"><a href="/eventsPage" class="nav-link">Events</a></li>
					<li class="nav-item"><a href="/testimonialsPage" class="nav-link">Testimonials</a></li>
					<li class="nav-item"><a href="/contactPage" class="nav-link">Contact</a></li>
					<!-- User Authentication Dropdown -->
					<li class="nav-item dropdown" th:if="${session.loggedIn == null or not session.loggedIn}">
						<a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Join
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/loginPage">Login</a>
							<a class="dropdown-item" href="/registerPage">Register</a>
						</div>
					</li>
					<!-- User Profile Dropdown -->
				    <li class="nav-item dropdown" th:if="${session.loggedIn != null and session.loggedIn}">
						<a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img id="profileImagePreview"
                             th:src="${user.profilePictureName != null ? '/images/profile/' + user.profilePictureName : '/images/image_1.jpg'}"
                             alt="Profile Image" class="rounded-circle" width="35"
								height="35" style="object-fit: cover; border-radius: 50%;">
							<span th:text="${session.username.contains(' ') ? #strings.substringBefore(session.username, ' ') : session.username}"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/profilePage">My Profile</a>
							<a class="dropdown-item" href="/changePasswordPage">Change Password</a>
							<a class="dropdown-item" href="bookings.html">Bookings</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" href="/logout">Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->
</div>