<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventTalk Dashboard</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/adminCss/dashboard.css">
    <link rel="stylesheet" href="/adminCss/table.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    
    <div th:replace="~{fragments/admin/navbar :: navbar}"></div>
    
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    <a href="/admin/eventsList" class="box box1">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="text">Total Events</span>
                        <span th:text="${totalEvents}" class="number"></span>
                    </a>
                    <a href="/admin/userList" class="box box2">
                        <i class="uil uil-user"></i>
                        <span class="text">Total Users</span>
                        <span th:text="${totalUsers}" class="number"></span>
                    </a>
                    <a href="/admin/bookingList" class="box box3">
                        <i class="uil uil-schedule"></i>
                        <span class="text">Total Booking</span>
                        <span th:text="${totalBookings}" class="number"></span>
                    </a>
                </div>
            </div>
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Users</span>
                </div>
                <table class="sc-responsive-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Location</th>
                            <th>Bio</th>
                            <th>Profile Picture</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u:${latestUsers}">
                            <td th:text="${u.id}" data-label="ID"></td>
                            <td th:text="${u.username}" data-label="Username"></td>
                            <td th:text="${u.email}" data-label="Email"></td>
                            <td th:text="${u.phone}" data-label="Phone"></td>
                            <td th:text="${u.location}" data-label="Location"></td>
                            <td th:text="${u.bio}" data-label="Bio"></td>
                            <td data-label="Image"><img th:src="${u.profilePictureName != null ? '/images/profile/' + u.profilePictureName : '/images/image_1.jpg'}"
                             alt="User Profile" class="img-fluid"
                             style="width: 100px; height: auto;"></td>
     
                        </tr>
                    </tbody>
                </table>
                <a href="/admin/userList">
                <button type="button" class="btn btn-primary">
                        View All
                    </button>
                </a>
            </div>
        </div>
    </section>
    <script src="/js/admin.js"></script>
</body>

</html>