<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventTalk Dashboard</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/adminCss/dashboard.css">
    <link rel="stylesheet" href="/adminCss/table.css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    
    <div th:replace="~{fragments/admin/navbar :: navbar}"></div>
    
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">
            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Events Management</span>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 15px;">
	                <a href="/admin/eventsAddPage">
	                     <button class="btn btn-primary">Add Events</button>
	                 </a>
                </div>
                <table class="sc-responsive-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Event Name</th>
                            <th>Venue</th>
                            <th>Date</th>
                            <th>Event Start Time</th>
                            <th>Event End Time</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="e:${eventsList}">
                            <td th:text="${e.id}" data-label="ID"></td>
                            <td th:text="${e.eventName}" data-label="Event Name"></td>
                            <td th:text="${e.venue}" data-label="Venue"></td>
                            <td th:text="${e.eventDate}" data-label="Date"></td>
                            <td th:text="${e.eventStartTime}" data-label="Event Start Time"></td>
                            <td th:text="${e.eventEndTime}" data-label="Event End Time"></td>
                            <td th:text="${e.description}" data-label="Description"></td>
                            <td data-label="Image"><img th:src="${e.eventsPictureName != null ? '/images/events/' + e.eventsPictureName : '/images/tech.jpg'}" alt="Tech Conference" class="img-fluid"
                                    style="width: 100px; height: auto;"></td>
                            <td data-label="">
                                <a th:href="@{'/admin/eventsEditPage/'+${e.id}}">
                                    <button class="btn btn-primary">Edit</button>
                                </a>
                            </td>
                            <td data-label="">
                            	<a th:href="@{'/admin/eventsDelete/'+${e.id}}">
                                	<button class="btn btn-delete">Delete</button>
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <!-- Pagination -->
                <div class="pagination">
                    <button class="btn btn-primary">Previous</button>
                    <button class="btn btn-primary">1</button>
                    <button class="btn btn-primary">2</button>
                    <button class="btn btn-primary">3</button>
                    <button class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/admin.js"></script>
</body>

</html>