<div th:fragment="navbar">
	<nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="images/logo.png" alt="">
            </div>
            <span class="logo_name">EventTalk</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a></li>
                <li><a href="/admin/eventsList">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">Events</span>
                    </a></li>
                <li><a href="/admin/userList">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Users</span>
                    </a></li>
                <li><a href="/admin/bookingList">
                        <i class="uil uil-schedule"></i>
                        <span class="link-name">Bookings</span>
                    </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="/admin/logout">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>
            </ul>
        </div>
    </nav>
</div>