<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventTalk Forgot Password</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="icon" href="img/favicon.png">
</head>

<body>
    <section class="bg-gray-200 min-h-screen flex items-center justify-center px-4 sm:px-8 lg:px-16">
        <!-- Forgot Password Form Container -->
        <div class="bg-gray-100 flex flex-col p-1 rounded-2xl shadow-lg w-full sm:w-[90%] md:w-[70%] lg:w-[50%] xl:w-[40%]">
            <!-- Form -->
            <div class="flex flex-col justify-center items-center px-8 py-6 w-full">
                <h2 class="font-bold text-2xl text-center mt-8">Forgot Password?</h2>
                <p th:if="${emailError}" class="text-red-600 text-center mt-2" th:text="${emailError}"></p>
                <p th:if="${error}" class="text-red-600 text-center mt-2" th:text="${error}"></p>
                <p class="text-center mt-2">Enter email to send OTP to your email.</p>
                <!-- Forgot Password Form -->
                <form action="/forgotPassword" method="POST" class="flex flex-col gap-4 w-full">
                    <input class="p-3 mt-3 rounded-xl border w-full" type="email" name="email" id="email" placeholder="Enter Email" required>
                    <button type="submit" class="bg-[#6b76ff] text-white py-3 rounded-2xl mt-4 w-40 mx-auto">Submit</button>
                </form>
                <!-- Forgot Password Form End -->
            </div>
        </div>
    </section>
</body>

</html>
